.darkmode-ignore{
  width: 100%;
}
section {
  width: 100%;
}
header {
  left: 1%;
/*   width: 16%; */
  z-index: -1;
}
header ul {
  top: 34%;
  right: 25%;
  float: left
}
footer {
  left: 1%;
  bottom: 1%;
/*   width: 200; */
  z-index: -1;
}

html, html[data-theme="light"], {
  --light-text-color: hsl(0, 0%, 35%);
  --main-background-color: hsl(0, 5%, 95%);
  --main-text-color: hsl(0, 0%, 0%);
}

html[data-theme="dark"] {
  --light-text-color: hsl(0, 0%, 60%);
  --main-background-color: hsl(0, 0%, 10%);
  --main-text-color: hsl(0, 10%, 80%);
}

@media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
}
