section {
  width: 90%;
}
header {
  right: 72%;
  width: 300px;
  z-index: -1;
}
footer {
  right: 72%;
  width: 300px;
  z-index: -1;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
