section {
  width: 90%;
}
header {
  right: 72%;
  width: 300px;
  z-index: -1;
}
footer {
  right: 72%;
  width: 300px;
  z-index: -1;
}
body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

strong{
  color: #267CB9;
}
