<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SKT5GY93LS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SKT5GY93LS');
    </script>
  </head>
  <body>
    <div class="wrapper">

      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">
            {{ site.title | default: site.github.repository_name }}
            {% if site.title_cn %}
            <br>{{ site.title_cn }}
            {% endif %}
          </a>
        </h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="max-width: 50%"/>
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <a href="{{ site.github.owner_url }}"><img border="0" src="/assets/img/GitHub-Mark-32px.png" width="32" height="32" /></a>
        <a href="{{ site.linkedin_url }}"><img border="0" src="/assets/img/LI-In-Bug.png" width="38" height="32" /></a>
        <a href="{{ site.twitter_url }}"><img border="0" src="/assets/img/2021 Twitter logo - blue.png" width="39" height="32" /></a>
        <a href="{{ site.rg_url }}"><img border="0" src="/assets/img/researchgate_icon_130843.png" width="32" height="32" /></a>
        
        {% if site.show_buttons %}
        <ul style="width: 140">
          <li><a href="{{ site.index_url }}"><strong>About me</strong></a></li>
          <li><a href="{{ site.project_url }}"><strong>My projects</strong></a></li>
          <li><a href="{{ site.publication_url }}"><strong>My papers</strong></a></li>
          <li><a href="{{ site.research_statement_url }}">[Research Statement]</a></li>
        </ul>
        {% endif %}
      </header>
      <section style="border: 1px solid; border-radius: 6px; padding: 10px">

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="{{ site.index_url }}">Ziquan Wei</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
